<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kuyliner.ID</title>
	<link
      rel="preload"
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
</head>
<body>
	<app-bar class="nav"></app-bar>
	<header class="hero">
		<hero-image class="hero__inner"></hero-image>
	</header>
	<main id="main-content"></main>
	<footer-app></footer-app>
</body>
</html>